@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700|Roboto:100' );

/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  background-color: #d8d8d817;
}

a {
  color:#fcce31;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.hide{
  display:none;
}

.header {
  position: relative;
  height: 100%;
  height: 100vh;
  width:auto; 
  margin-bottom: 3em;
  text-align: center;
  padding-top: 20vh;
  background-image:url(../img/audio.jpg);
  background-position-y:70%; 
  background-repeat:no-repeat;
  background-size:cover;
}

.header h1{
  /* font-size: 20px; */
  font-family: 'Lobster Two',  Georgia, 'Times New Roman', Times, serif;
  font-size: 5rem;  
  color:#3e2b09;
}
.header h3 {
  /* font-size: 20px; */
  font-size: 17px;  
  font-weight: 700;
  color:#3e2b09;
  padding: 2em;
  padding-bottom: 3em;
}

.header h1::after{
  content: '';
  display: block;
  background:#3e2b09;
  height:2px;
  width:100px;
  margin: 0 auto;
  }

.header a, .getStarted {
  border: 1.5px solid #3e2b09;
  width:50%;
  padding: 1em;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
}

.header a:hover{
  border: 1px solid transparent;
  background-color: rgba(0,0,0,.4);
  color: #3e2b09;
  text-shadow: 0.2px 0.2px #3e2b09;
}

.getStarted{
  color: #3e2b09;
}

.title{
  font-family: 'Lobster Two',  Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  color:#5f420a;
  text-align: center; 
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 1em;
}

.title h2::after{
  content:'';
  background: #5f420a;
  display:block;
  height:2px;
  width:100px;
  margin: 0 auto;
}

.content{
  padding: 1em;
  text-align:justify;
}
.content p, .news_content{
  line-height: 30px;
  letter-spacing: .06em;
  color: #251e1a;
  font-weight:900;
  padding-left:1em;
  padding-right:1em;
  padding-top:0.5em; 
}

.learn_more{
  color: #3e2b09;
  font-weight:900;
  font-family: 'Lobster Two',  Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  padding:.3em;
  border: 1px solid  #3e2b09;
  width:18%;
  text-align: center; 
  margin-top:.5em;
  margin-left:40%; 
  display: block;  
  cursor: pointer; 
}

.learn_more:hover{
  border: 1px solid transparent;
  background-color: rgba(0,0,0,.1);
  color: #3e2b09;
  text-shadow: 0.2px 0.2px #3e2b09;
}


.img-gallery .artiste_image{ 
  position: relative;
  width: 100%;
  padding:.5em; 
} 

























.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.artiste_name_container {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.artiste_image:hover .image {
  opacity: 0.3;
}

.artiste_image:hover .artiste_name_container {
  opacity: 1;
}

.img-gallery .artiste_name{ 
  /* position: absolute;
  bottom:0px;
  right:0;
  font-family: 'Lobster Two',  Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;  
  color:#fcce31;
  width:100%;
  height: 100%;
  text-align: center;
  overflow:auto;
   */
   /* background-color: #fcce31;
   color: #3e2b09; */
   border: 1px solid transparent;
  background-color: rgba(0,0,0,.4);
  color: #5f420a;
  text-shadow: 0.2px 0.2px #3e2b09;
  font-size: 16px;
  padding: 16px 32px;
  overflow: hidden;
  display: block;
  cursor: pointer;
} 

.nextStar{
  opacity: 0.3;
  display: block;
  position:relative;
  width: 100%;
  height: auto;
}

.artiste_name_container1{
  opacity:1;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align:left;
}


.placeHolder{
  background-color: #fcce31;
  color: #3e2b09;
  font-size: 16px;
  padding: 16px 32px;
  overflow: hidden;
  display: block;
}


.next_star{
  font-size:1.5em;
  width:70%;
  margin:10px auto;   
}

.viewAll {
  border: 1.5px solid #3e2b09;
  padding: .5em;
  text-align: center;
  display: block;
  width: 30%;
  margin: 0 auto;
  border: 2px solid #3e2b09;
  color: #3e2b09;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}


.news_image img{
  padding:1em;
  width:100%; 
}

.news_image::after{
  content:"";
  display:block;
  margin: 0 auto;
  width: 90%;
  padding:1em; 
  border-bottom:1px solid #5f420a;  
}


.news_title{
  font-family: 'Lobster Two',  Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  color:#5f420a;
  text-align:left;
  padding:0.5em; 
}

.latest_news{
  width:50%;
  margin: 0 auto;
}

.video-gallery{
  margin: 0 auto;   
}

iframe{
  margin:10px auto;  
  width:100%;  
}



.event-container{
  padding:1em;
  text-align: center;
}

.event-container::after{
  content:"";
  display:block;
  margin: 0 auto;
  width: 90%;
  padding:1em;
  border-bottom:1px solid #5f420a;  
}

.event-container .event-date,.host{
  line-height:20px;
  color: #251e1a;
  font-size:25px;
  font-weight:900;
  padding:.5em; 
  font-family: 'Lobster Two',  Georgia, 'Times New Roman', Times, serif;
}

.event-container .event-details{
  line-height:20px;
  color: #251e1a;
  font-size:20px;
  font-weight:900;
  padding:.5em; 
}

@media only screen and (max-width: 767px) {
  #events{
    position: relative;
    width:100%;
    margin-top:2em;   
  }
  
  #events .event_img{
    content:'';
    position: absolute;
    height:auto;
    z-index:-1;        
    opacity:0; 
  }
}

@media only screen and (min-width: 768px) {

  @supports not (display:grid) {
  
    .img-gallery {
      display: flex;
      flex-wrap:wrap; 
    }
  
    
    .img-gallery .artiste_image{
      position: relative;
      width: 50%;
      padding: .5em;
    }
    
    .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    .artiste_name_container {
      transition: .5s ease;
      /* opacity: 0; */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
  
    .artiste_image:hover .image {
      opacity: 0.3;
    }
    
    .artiste_image:hover .artiste_name_container {
      opacity: 1;
    }
  
    .img-gallery .artiste_image .artiste_name{
      /* position: absolute;
      bottom:10px;
      right:0px;
      left: 7px;
      /* font-family: 'Lobster Two',  Georgia, 'Times New Roman', Times, serif; */
      /* font-size: 2rem;  
      color:#fcce31;
      background-color:#3e2b09a8; 
      height:92%;
      width:96%;
      text-align: center; */ 
      background-color: #fcce31;
    color: #3e2b09;
    font-size: 16px;
    padding: 16px 32px;
    cursor: pointer;
    } 
     
  }
  

  @supports(display:grid) {
    .img-gallery{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;  
    }
    
  } 

  .header h1 {
    /* font-size: 20px; */
    font-family: 'Lobster Two',  Georgia, 'Times New Roman', Times, serif;
    font-size: 6rem;  
    color:#3e2b09;
  }
  .header h3 {
    /* font-size: 20px; */
    font-size: 20px;  
    font-weight: 700;
  }
  
  .header h1::after{
    content: '';
    display: block;
    background:#3e2b09;
    height:2px;
    width:100px;
    margin: 0 auto;
    }
    .title{
      font-size: 4rem;
      color:#5f420a;
      text-align: center; 
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 1em;
    }
    
    
    .content{
      padding: 1em;
      text-align:justify;
    }
    .content p, .news_content{
      line-height: 40px;
      letter-spacing:.07em;
      color: #251e1a;
      font-weight:900;
      padding-left:2em;
      padding-right:2em;
      padding-top:1em; 
    }
    
 .news-gallery{
   display:flex;
   flex-wrap: wrap;
 }  
   

 .news_image{
  width: 50%;
  max-height:30%;
}

.event-gallery{
  display: flex;
  flex-wrap: wrap;
}

.event-container{
  width:45%;
  margin: 0 auto; 
}

.video_frame{
  float: left;
  width:45%;
  margin-left:2.5%;
  margin-right:2.5%; 
}

.video-gallery{
  margin-bottom:250px;
}

#events{
  position: relative;
  width:100%;
  margin-top:500px;   
}

}


@media only screen and (min-width: 1170px) {

  #events{
    position: relative;
    width:100%;
    height:100%;
    margin-top:500px;   
  }
  
  #events .event_img{
    content:'';
    position: absolute;
    height:auto;
    top:0;
    z-index:-1;        
    opacity:.5; 
  }

  .header h1 {
    font-size:10rem;  
    font-weight: 300;
  }

  .header h3 {
    font-size: 30px;  
    font-weight: 700;
  }

  a{
    color: #3e2b09;
  }

  .content{
    padding-left:12em;
    padding-right:12em; 
    text-align:justify;
  }
  
}

#cd-nav ul {
  /* mobile first */
  position: fixed;
  width: 90%;
  max-width: 400px;
  right:5%;
  bottom: 20px;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
  /* background: rgb(0, 0, 0); */
  background: #251e1a;
  visibility: hidden;
  /* remove overflow:hidden if you want to create a drop-down menu - but then remember to fix/eliminate the list items animation */
  overflow: hidden;
  z-index: 1;
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}
#cd-nav ul li {
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#cd-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}
#cd-nav ul.is-visible li:nth-child(1) {
  /* list items animation */
  -webkit-animation: cd-slide-in 0.2s;
  -moz-animation: cd-slide-in 0.2s;
  animation: cd-slide-in 0.2s;
}
#cd-nav ul.is-visible li:nth-child(2) {
  -webkit-animation: cd-slide-in 0.3s;
  -moz-animation: cd-slide-in 0.3s;
  animation: cd-slide-in 0.3s;
}
#cd-nav ul.is-visible li:nth-child(3) {
  -webkit-animation: cd-slide-in 0.4s;
  -moz-animation: cd-slide-in 0.4s;
  animation: cd-slide-in 0.4s;
}
#cd-nav ul.is-visible li:nth-child(4) {
  -webkit-animation: cd-slide-in 0.5s;
  -moz-animation: cd-slide-in 0.5s;
  animation: cd-slide-in 0.5s;
}
#cd-nav ul.is-visible li:nth-child(5) {
  -webkit-animation: cd-slide-in 0.6s;
  -moz-animation: cd-slide-in 0.6s;
  animation: cd-slide-in 0.6s;
}
 #cd-nav li a { 
  display: block;
  padding: 1.6em;
  border-bottom: 1px solid #eff2f6;
} 



@media only screen and (min-width: 1170px) {
  #cd-nav ul {
    /* the navigation moves to the top */
    position: absolute;
    width: auto;
    max-width: none;
    bottom: auto;
    top: 36px;
    background: transparent;
    visibility: visible;
    box-shadow: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
  }
  #cd-nav li {
    display: inline-block;
  }
  #cd-nav li a {
    opacity: 1;
    padding: .4em;
    margin-left: 1.6em;
    font-family: 'Lobster Two',  Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    -o-transition: border-bottom .5s ease-in;
    -webkit-transition:border-bottom .5s ease-in;
    -moz-transition:border-bottom .5s ease-in;
    transition: border-bottom .5s ease-in;
  }

  #cd-nav li a {
    border-bottom: 1px solid #eff2f600;
  }
  

   #cd-nav li a:hover { 
    /* color: #00bd9b; */
    cursor: pointer;
    border-bottom: 1px solid #3e2b09;
  }

  #cd-nav.is-fixed ul {
    /* when the user scrolls down, the navigation moves to the bottom right in Fixed position - as on touch devices */
    position: fixed;
    width: 90%;
    max-width: 400px;
    bottom: 20px;
    top: auto;
    background: #251e1a;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  #cd-nav.is-fixed ul li {
    display: block;
  }
  #cd-nav.is-fixed ul li a {
    padding: 1.6em;
    margin-left: 0;
    border-bottom: 1px solid #eff2f6;
    color: #fcce31;
  }
  #cd-nav ul.has-transitions {
    /* this class is used to bring back transitions when the navigation moves at the bottom right */
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s;
  }
  #cd-nav ul.is-visible {
    /* this class is used to bring back the navigation animation - as on touch devices */
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
    transition: transform 0.3s, visibility 0s 0s;
  }
  #cd-nav ul.is-hidden {
    /* this class is used to animate the scale down the navigation when the user scrolls down with the navigation still open */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
}

.cd-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: #251e1a;
  border-radius: 0.25em;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); */
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}
.cd-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background:#fcce31;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  content: '';
  position: absolute;
  left: 0;
  background: inherit;
  width: 100%;
  height: 100%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, background 0s;
  -moz-transition: -moz-transform 0.3s, background 0s;
  transition: transform 0.3s, background 0s;
}
.cd-nav-trigger span::before {
  top: -6px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-nav-trigger span::after {
  bottom: -6px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-nav-trigger.menu-is-open {
  box-shadow: none;
}
.cd-nav-trigger.menu-is-open span {
  background: rgba(232, 74, 100, 0);
}
.cd-nav-trigger.menu-is-open span::before, .cd-nav-trigger.menu-is-open span::after {
  background: #fcce31;
  /* background:rgba(0, 0, 0, 0.2); */
}
.cd-nav-trigger.menu-is-open span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-nav-trigger.menu-is-open span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 1170px) {
  .cd-nav-trigger {
    /* the the menu triger is hidden by default on desktop devices */
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s;
  }
  .is-fixed .cd-nav-trigger {
    visibility: visible;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-animation: cd-bounce-in 0.3s linear;
    -moz-animation: cd-bounce-in 0.3s linear;
    animation: cd-bounce-in 0.3s linear;
  }
}


@-webkit-keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-slide-in {
  0% {
    -moz-transform: translateX(100px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}
@keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0);
  }

  60% {
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    -moz-transform: scale(0);
  }

  60% {
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  60% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.flex {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalcontainer {
  display: none;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.modalcontainer .active {
  display: block;  
}

.modal {
  display: none;
  position: relative;
  background-color: #FFF;
}
.modal.active {
  display: block;
}
.modal .content {
  padding:10%;
  display: flex;
  flex-direction: column;
}

.modal .content .top,.modal .content .bottom{
  width:100%;
  padding-left:5%;
  padding-right:5%; 
}
.modal .content h2{
  font-family: 'Lobster Two',  Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  color:#5f420a;
  text-align: center; 
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 1em;
}

.modal .content h3{
  font-family: 'Lobster Two',  Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  color:#5f420a;
  text-align: center; 
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 1em;
}

.modal .content ul{
  line-height: 30px;
  letter-spacing: .06em;
  color: #251e1a;
  font-weight:900;
  padding-left:1em;
  padding-right:1em;
  padding-top:0.5em; 
}

.modal .close {
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  color: #FFF;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  right: 0;
  color: #999;
  font-size: 40px;
}
.modal .close span {
  transform: rotate(45deg);
  display: block;
}

.top h1{
  font-family: 'Lobster Two',  Georgia, 'Times New Roman', Times, serif;
  font-size: 5rem;  
  color:#3e2b09;
  padding-left:22%; 
}

.modal_news_title{
  padding:1em;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  border-radius: 7px;
  
}

.montform .feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}





/*Inputs styles*/
.montform .feedback-input:focus{
	background: #fff;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}


/* Icons ---------------------------------- */
.montform  #name{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #name:focus{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #email{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #email:focus{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #comment{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-pencil.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

.montform  input:hover, .montform  textarea:hover,
.montform  input:focus, .montform  textarea:focus {
	background-color:#e6e6e6;
}

.button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

.button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.montform  .submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

/*Styles for small screens*/

@media  only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.checkout_container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

.checkout_container a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
